.container{
  width:100%;
  height: 100vh;
  font-family: sans-serif;
  background: rgb(187, 187,245);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 450px;
  height: 600px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.29); 
}

.inner-box{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  
}

.card-front{
  background-position: center;background-size: cover;
  background-image: linear-gradient(rgba(0,0,100,0.8), rgba(0,0,100,0.8)),url("coding.jpg");
  padding: 55px;
  box-sizing: border-box;
}

.input-box{
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  background: transparent;
  border:1px solid #fff;
  border-radius: 20px;
  outline: none;
  color: #fff;
  width: 100%;
}

.btnSend{
  width: 100%;
  background: transparent;
  border:1px solid #fff;
  margin : 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  outline: none;
  color: #fff;
  cursor:  pointer;
}